<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/caicono"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CeArPlAr"
        tools:targetApi="32">
        <activity
            android:name=".Urls"
            android:exported="false" />
        <activity
            android:name=".ShowPdf"
            android:exported="false" />
        <activity
            android:name=".QuienesSomos"
            android:exported="false" />
        <activity
            android:name=".SliderAdapterCalendario"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAd3j14RoeThFiYv5VtkAyDEuWyPqv7IKI" />

        <activity
            android:name=".Galeria"
            android:exported="false" />
        <activity
            android:name=".PdfViewer"
            android:exported="false" />
        <activity
            android:name=".Calendario"
            android:exported="false" />
        <activity
            android:name=".Ubicacion"
            android:exported="false" />
        <activity
            android:name=".Requisitos"
            android:exported="false" />
        <activity
            android:name=".PantallaPrincipal"
            android:exported="false" />
        <activity
            android:name=".BuscarMatricula"
            android:exported="false" />
        <activity
            android:name=".MostrarMatricula"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <service
            android:name=".FirebaseNotifications"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5211211432379253~5490640649" />
    </application>

</manifest>